
<div class="container" id="pages_index">

  <div class="row" id="hero-banner">
    <div class="panel panel-default">
      <%= image_tag("https://s3-eu-west-1.amazonaws.com/pixelpic/Resources/pixelpic_banner_large.jpg", alt: "pixelpic_banner_large.jpg") %>
    </div>
  </div>

  <div class="row" id="about">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="text-primary text-center">Welcome to PixelPic!</h2>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6" id="about_text">
            <h4>With PixelPic you can create a unique, personal artwork in just a few steps, using your own pictures...</h4>
            <ul>
              <li>Create the perfect wedding memory</li>
              <li>Celebrate a special birthday or anniversary</li>
              <li>Make a unique yearbook for your school, college or sports team</li>
              <li>Hover over the following image to zoom in and see PixelPic in action!</li>
              <li>Scroll down for more examples, and when you're ready....</li>
            </ul>
            <div class="text-center">
              <% if user_signed_in? %>
              <%= link_to 'Get Started', images_path, class: "btn btn-primary" %>
              <% else %>
              <h3 class="text-primary">Sign in to make your own PixelPic!</h3>
              <% end %>
            </div>
          </div>
          <div class="col-md-6 text-center" id="small_image">
            <%= image_tag("https://s3-eu-west-1.amazonaws.com/pixelpic/Resources/pixelpic_profile_pic_small.jpg", id: "zoom_01", data: {"zoom-image" => "https://s3-eu-west-1.amazonaws.com/pixelpic/Resources/pixelpic_profile_pic_large.jpg"}) %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" id="how-it-works">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="text-primary text-center">How it works</h2>
        <h4 class="text-muted text-center"><em>Create your PixelPic in just a few simple steps...</em></h4>
      </div>
      <div class="panel-body">
        <div class="row text-center">
          <div class="col-md-4">
            <p><strong>1) upload your own images from your computer or from facebook!</strong></p>
          </div>
          <div class="col-md-4">
            <p><strong>2) select the image you want as the main picture</strong></p>
          </div>
          <div class="col-md-4">
            <p><strong>3) PixelPic will create an amazing mosaic for you out of the images you uploaded!</strong></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 image_container">
            <img class="img-responsive center-block" src="https://s3-eu-west-1.amazonaws.com/pixelpic/Resources/how-it-works-1.jpg">
          </div>
          <div class="col-md-4 image_container">
            <img class="img-responsive center-block" src="https://s3-eu-west-1.amazonaws.com/pixelpic/Resources/how-it-works-2.jpg">
          </div>
          <div class="col-md-4 image_container">
            <img class="img-responsive center-block" src="https://s3-eu-west-1.amazonaws.com/pixelpic/Resources/how-it-works-3.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" id="gallery">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="text-primary text-center">Gallery</h2>
      </div>
      <div class="panel-body text-center">
        <div id="my-carousel" class="carousel slide" data-ride="carousel">

          <ol class="carousel-indicators">
            <li data-target="#my-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#my-carousel" data-slide-to="1"></li>
            <li data-target="#my-carousel" data-slide-to="2"></li>
            <li data-target="#my-carousel" data-slide-to="3"></li>
          </ol>

          <div class="carousel-inner text-center" role="listbox">
            <div class="item active">
              <%= image_tag("https://s3-eu-west-1.amazonaws.com/pixelpic/Resources/pixelpic_example6_small.jpg") %>
              <div class="carousel-caption">
                <h3>new baby</h3>
              </div>
            </div>
            <div class="item">
              <%= image_tag("https://s3-eu-west-1.amazonaws.com/pixelpic/Resources/pixelpic_example4_small.jpg") %>
              <div class="carousel-caption">
                <h3>wedding memories</h3>
              </div>
            </div>
            <div class="item">
              <%= image_tag("https://s3-eu-west-1.amazonaws.com/pixelpic/Resources/pixelpic_example7_small.jpg") %>
              <div class="carousel-caption">
                <h3>birthday celebrations</h3>
              </div>
            </div>
            <div class="item">
              <%= image_tag("https://s3-eu-west-1.amazonaws.com/pixelpic/Resources/pixelpic_example2_small.jpg") %>
              <div class="carousel-caption">
                <h3>sporting events</h3>
              </div>
            </div>
          </div>

          <a class="left carousel-control" href="#my-carousel" role="button" data-slide="prev">
            <i class="fa fa-chevron-left"></i>
            <span class="sr-only">previous</span>
          </a>

          <a class="right carousel-control" href="#my-carousel" role="button" data-slide="next">
            <i class="fa fa-chevron-right"></i>
            <span class="sr-only">next</span>
          </a>
        </div>
      </div>
      <div class="panel-footer text-right">
        <%= link_to 'View these zoomable examples...', examples_path, class: "btn btn-default" %>
      </div>
    </div>
  </div>

</div>
