<%= form_for(@image) do |f| %>
  <%= render "shared/errors", target: @image %>
  <div id="progress">
    <div class="bar" style="width: 0%;"></div>
  </div>
  <div class="field">
    <%= f.label :file %><br />
    <%= f.file_field :file, multiple: true, name: 'image[file]' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= render 'facebook_images' %>