<!DOCTYPE html>
<html>
<head>
  <title>Pixelpic</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="nav_menus">
    <%= render 'shared/user_nav' %>
    <%= render 'shared/site_nav' %>
    <%= render 'shared/flash_messages' %>
  </div>
  <div id="container">
    <%= yield %>
    <footer id="footer">
      <p>LEGAL STUFF</p>
      <p>Copyright dwlknsn</p>
      <p>Site design by dwlknsn</p>
    </footer>
  </div>
  <div class="modal"></div>
</body>
</html>
