<!DOCTYPE html>
<html>
<head>
  <title>Pixelpic</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
    <%= render 'shared/user_nav' %>
    <%= render 'shared/site_nav' %>
    <%= render 'shared/flash_messages' %>
    <%= yield %>
  </div>
  <footer id="footer"></footer>
  <div class="modal"></div>
</body>
</html>
